<ion-view view-title="Developers">

  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-chevron-left" ng-click="goBack()">
    </button>
  </ion-nav-buttons>
  
  <ion-content class="padding">

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/gopal.jpg">
        <h2>Gopal Krishan Aggarwal </h2>
        <p>June 27, 1994</p>
        <p>Student, IIT Mandi.</p>
      </div>

      <div class="item item-avatar">
        <img src="img/naman.jpg">
        <h2>Naman Gupta</h2>
        <p>August 06, 1995</p>
        <p>Student, IIT Mandi.</p>
      </div>

      <div class="item item-avatar">
        <img src="img/shubham.jpg">
        <h2>Shubham Chandel</h2>
        <p>March 09, 1996</p>
        <p>Student, IIT Mandi.</p>
      </div>    
    </div>

  </ion-content>
</ion-view>
