<ion-view view-title="Mobile Traffic Challan">
  <ion-content class="padding">

    <form name="challanEntryForm" novalidate>
    <ion-list>

    <div class="item item-divider">
    <h2><b><span style="color:red">OFFENCES </span> </b></h2>
    </div>
    
    <ion-checkbox ng-model="data.offence[0]">w/o Helmet</ion-checkbox>
    <ion-checkbox ng-model="data.offence[1]">w/o RC</ion-checkbox>
    <ion-checkbox ng-model="data.offence[2]">w/o Insurance</ion-checkbox>
    <ion-checkbox ng-model="data.offence[3]">w/o License</ion-checkbox>   
    <ion-checkbox ng-model="data.offence[4]">Rash & Negligent Driving</ion-checkbox>
    <ion-checkbox ng-model="data.offence[5]">Using Mobile Phone driving</ion-checkbox>   
    <ion-checkbox ng-model="data.offence[6]">w/o Number Plate</ion-checkbox>
    <ion-checkbox ng-model="data.offence[7]">Using Pressure Horn</ion-checkbox>
    <ion-checkbox ng-model="data.offence[8]">w/o Seat Belt</ion-checkbox>
    <ion-checkbox ng-model="data.offence[9]">Triple Ridng</ion-checkbox>
    <ion-checkbox ng-model="data.offence[11]">Idle Parking</ion-checkbox>
    <ion-checkbox ng-model="data.offence[12]">Sealed/Restricted road Violation</ion-checkbox>
    <ion-checkbox ng-model="data.offence[10]">Others (Specify below)</ion-checkbox>

    <ion-input class="item item-input item-stacked-label">
      <input type="text" placeholder="Specify other offences here" ng-model="data.info">
    </ion-input>
    

    <br>
    
    <ion-input class="item item-input item-stacked-label">
      <ion-label><b><span style="color:red">Offences (Section)</span> </b></ion-label>
      <input type="text" placeholder="Enter offences sections here" ng-model="data.section">
    </ion-input>

    <ion-input class="item item-input item-stacked-label">
      <ion-label>Vehicle Number</ion-label>
      <input type="text" placeholder="Enter Vehicle Number Here" ng-model="data.vehicleNum">
    </ion-input>

    <ion-input class="item item-input item-stacked-label">
      <ion-label>Name of Place</ion-label>
      <input type="text" placeholder="Enter Place Name Here" ng-model="data.place">
    </ion-input>

    <ion-input class="item item-input item-stacked-label">
      <ion-label>Date<br>{{data.date}}</ion-label>
    </ion-input>

    <ion-input class="item item-input item-stacked-label">
      <ion-label>Time<br>{{data.time}}</ion-label>
    </ion-input>

    <ion-input class="item item-input item-stacked-label">
      <ion-label>GPS Location<br>{{gps.latitude.toFixed(2)}}, {{gps.longitude.toFixed(2)}}</ion-label>
    </ion-input>

      <button class="button button-block button-positive" ng-click="captureImage()">Upload Image</button>
      <button class="button button-block button-assertive" ng-click="onChallanSubmit()">Submit</button>
    
      <img data-ng-src="data:image/jpeg;base64,{{data.image}}" style="max-width: 100%">
    </ion-list>
    </form>

	<div align="right">
      <button class="button icon-left ion-log-out button-assertive" ng-click="logout()">
      Logout</button>
    </div>
  </ion-content>
</ion-view>
